body, html {
    height: 100vh;
    width: 100vw;
    background-color: #525b56;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    margin: 0px;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    background-color: #1b3239;
}

.welcomeAndInstructions {
    text-align: center;
}

#roundTitle {
    text-align: center;
}

.scoresBox {
    display: flex;
    gap: 20px;
}

.footer {
    background-color: #1b3239;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}